.BodyProjects{
    justify-content: center;
    display: grid;
}


.ProjectsBlocks{
    background-color: #262626;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 17px;
    padding:  25px;
    margin-bottom: 5em;
}

.BoxTags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 45px;
    margin-bottom: 20px;
}

.TagProject{
    
    color: var(---global-element-color);
    border: 1px solid var(---global-element-color);
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 13px;
  
}

.ProjectImage{
    width: 400px;
    border-radius: 20px;
}

.BoxIcon{
    justify-content: flex-end;
    display: flex;
}

.IconProject{
    max-width: 50px;
    object-fit: contain;
    margin-left: 10px;
}

.TagProject span{
    width: 150px;
}

.Info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: left;
    align-items: start;
    gap: 20px;

    p{
        width: 80%;
    }

    .InfoDescription{
        
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
    }

    .ProjectLink{
        width: 140px;
       
    }
}



@media (max-width:768px) {
    .ProjectsBlocks{
        width: 80vw;
        display: flex;
        justify-content: space-between;
        min-height: 116vw;
    }

    .BoxTags{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 92px;
        align-items: center;
        gap: 26px;
    }
    
    .BoxIcon{
        justify-content: center;
        display: flex;
    }

    .Info{
        flex-direction: column;
        width: 100%;
        
        
        p{
            margin-left: 0;
            width: 100%;
        }
    }
}
