
.footer {
  background-color: var(--block-background-color);
  color: var(--text-secondary-color);
  padding: 40px 0;
  text-align: center;
  font-size: 0.95rem;
  border-top: 1px solid var(--block-background-light-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer p {
  margin: 0;
}

.footer span {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
}
  